extends layout

block content
  .container
    .row
      .col-sm-8.blog-main
        .blog-post

            h2.blog-post-title #{entries.title}

            p.blog-post-meta #{entries.date} by #{entries.author}
              
              iframe(width='560', height='315', src='#{entries.videoLink}', frameborder='0', allowfullscreen='')

              p #{entries.body}

            p Related Links
              ul
                li Youtube:
                  a(href="#{entries.videoLink}")  Simple Web Server
                li Github:
                  a(href="#{entries.githubLink}")  Tutorial Code




      // /.blog-main
      .col-sm-3.col-sm-offset-1.blog-sidebar
        .sidebar-module.sidebar-module-inset.blogpageside
          h4 Learning Objectives

          p
             Etiam porta
            em sem malesuada magna
              mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.





    footer.blog-footer

      p
      a(href='#') Back to top
