extends layout

block content
  .blog-post
  if entries
    each entry, i in entries
      h2.blog-post-title #{entry.title}

      p.blog-post-meta
         #{entry.date} by #{entry.author}


      p #{entry.body}

      p Related Links
        ul
          li Youtube:
            a(href="#{entry.videoLink}")  Simple Web Server
          li Github:
            a(href="#{entry.githubLink}")  Tutorial Code
